{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block scriptHeader %}
    <!-- markdwon extension https://github.com/richleland/pygments-css -->
    <link rel="stylesheet" href="{% static 'staticblog/css/colorful.css' %}"/></link>
    <style>
        img { max-width:1000px; height:auto; margin: 25px auto;display:block }
    </style>
{% endblock %}
{% block content %}

<div class="container">
<h1>{{ metadata.title }}</h1>
{{ metadata.summary }}

{{ text|safe }}



</div>
{% endblock %}
